.box{
    border: 10px;
    margin: auto;
    outline-color:navy;
    outline-style: solid;
   outline-width: 5px;
}
img{
    width: 15%;
    height: 15%;
}
.box1{
  border: 10px;
  margin: auto;
  outline-color:rgb(115, 0, 128);
  outline-style: solid;
 outline-width: 5px;
}
